body {
    background-color: rgb(23, 23, 100);
  }

.c92-height{
    height: 100vh;
}

.card-element{
    width: 40%;
    height: 25%;
    background-color: rgb(11, 11, 48);
    transition: width 0.6s ease-in-out, height 0.6s ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0.726);
}

.card-element:hover {
    width: 41%;
    height: 26%;
    box-shadow: 1rem 1rem 1rem rgb(11, 11, 48);

}

.text-color{
    color: rgb(23, 23, 100);
}